body {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

.bg-dark {
	background-color: #363636;
	color: #FFFFFF;
}

.bg-blue {
	background-color: #008fbe;
	color: #FFFFFF;
}

.nav-link, .btn{
	color: #FFFFFF;
	transition: none;
}

.nav-link:hover, .btn:hover {
	color: #FFFFFF;
	font-weight: 600;
}

.nav-link:focus, .btn:focus, .btn {
	color: #FFFFFF;
	border: none;
}

.highlight {
	font-weight: 600;
}

h1 {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
}

#topbar {
	height: 85px;
}

.content {
	padding: 25px;
}

.navbar ul {
	list-style-type: none;
}

.home {
	font-size: 18px;
	padding: 8px 0px;
}

.caret {
	margin-left: 5px;
	display: inline-block;
}

a[aria-expanded="true"] > .caret {
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

hr {
	display: block;
}