body {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

.bg-dark {
	background-color: #363636;
	color: #FFFFFF;
}

.bg-blue {
	background-color: #008fbe;
	color: #FFFFFF;
}

.side-bar {
	height: 100%;
	position: fixed;
	top: 100px;
}

.top-bar {
	height: 100px;
	position: fixed;
	width: 100%;
}