body {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

/* Top Bar Styling */
.bg-blue {
	background-color: #008fbe;
	color: #FFFFFF;
}

h1 {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
}

#topbar {
	height: 85px;
}

#topbar button {
	border: solid;
	border-color: white;
	border-width: 1px;
	padding: 5px;
	font-size: 32px;
	margin-right: 10px;
}

@media (min-width : 768px) {
	#topbar button {
		display: none;
	}
}

/* Side Bar Styling */

.bg-dark {
	background-color: #363636;
	color: #FFFFFF;
	height: auto;
}

@media (min-width : 768px) {
	.bg-dark {
		min-height: 100vh;
	}
}

@media (max-width : 767px) {
	.t-none {
		display: none;
	}
}

.nav-link, .btn{
	color: #FFFFFF;
	transition: none;
}

.nav-link:hover, .sidebar .btn:hover {
	color: #FFFFFF;
	font-weight: 600;
}

.nav-link:focus, .sidebar .btn:focus, .sidebar .btn {
	color: #FFFFFF;
	border: none;
}

.highlight {
	font-weight: 600;
}

.navbar ul {
	list-style-type: none;
}

.home {
	font-size: 18px;
	padding: 8px 0px;
}

.caret {
	margin-left: 5px;
	display: inline-block;
	font-size: 14px;
}

a[aria-expanded="true"] > .caret {
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

/* Content Styling */
.content {
	padding: 25px;
	color: #363636;
}

h3 {
	font-weight: bold;
	margin-bottom: 20px;
}

h4 {
	margin-bottom: 20px;
	font-weight: bold;
}

.hint {
	background-color: #e8e8e9;
	padding: 10px;
}

.linkbox {
	margin-left: 5px;
	font-size: 14px;
}

.img-fluid {
	margin-bottom: 20px;
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

.content .btn {
	background-color: #80bc00;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-radius: 0px;
}

.content .btn:hover {
	background-color: #008fbe;
	color: #FFFFFF;
}