body {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

/* Top Bar Styling */
.bg-blue {
	background-color: #008fbe;
	color: #FFFFFF;
}

.bg-green {
	background-color: #80bc00;
	color: #FFFFFF;
}

.img-fluid {
	border-radius: 5px;
}

.img-logo {
	height: 100%;
	width: auto;
	padding: 10px;
}

#header {
	height: 100px;
}

#footer {
	height: 10px;
}

.seperator {
	height: 10px;
}

h1 {
	text-decoration: none;
	font-weight: bold;
	width: auto !important;
}

#topbar button {
	font-size: 32px;
	margin-right: 10px;
	width: auto;
}

@media (min-width : 768px) {
	#topbar button {
		visibility: hidden;
	}
}

.bg-charc {
	background-color: #363636 !important;
	color: #FFFFFF;
}

.bg-hide {
	padding-left: 22px;
}

/* Side Bar Styling */

.bg-dark {
	background-color: #363636 !important;
	color: #FFFFFF;
	height: auto;
}

@media (min-width : 767px) {
	.bg-dark {
		min-height: 100vh;
	}
	.bg-hide {
		display: none;
	}
	.sm-title {
		display: none;
	}
}

@media (max-width : 767px) {
	.t-none {
		display: none;
	}
	.sm-hide {
		display: none;
	}
	.bg-title {
		display: none;
	}
}

.nav-link, .btn{
	color: #FFFFFF;
	transition: none;
	padding: 0.5rem 0rem;
}

.nav-link:hover, .sidebar .btn:hover {
	color: #FFFFFF;
	font-weight: 600;
}

.nav-link:focus, .sidebar .btn:focus, .sidebar .btn {
	color: #FFFFFF;
	border: none;
}

.highlight {
	font-weight: 600;
}

.navbar ul {
	list-style-type: none;
}

.home {
	font-size: 18px;
	padding: 8px 0px;
}

.caret {
	margin-left: 5px;
	display: inline-block;
	font-size: 14px;
}

a[aria-expanded="true"] > .caret {
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

/* Content Styling */
.content {
	padding: 25px;
	color: #363636;
}

h3 {
	font-weight: bold;
	margin-bottom: 20px;
}

h4 {
	margin-bottom: 20px;
	font-weight: bold;
}

.hint {
	padding: 10px;
	margin-bottom: 1rem;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	border-radius: 5px;
}

.warning {
	background-color: #FFDAD4;
	border-color: #d23f26;
}

.add-info {
	background-color: #DFFFCC;
	border-color: #80bc00;
}

.tip {
	background-color: #d4f3ff;
	border-color: #008fbe;
}

.alert {
	border-color: #ffcd00;
	background-color: #fff3c4;
}

.new-tag {
	font-weight: bold;
	color: #ffcd00;
}

.content a {
	text-decoration: underline;
}

.content a:link {
	color: #008fbe;
}

.content a:hover {
	color: #80bc00;
}

.linkbox {
	margin-left: 5px;
	font-size: 14px;
}

.img-fluid {
	margin-bottom: 20px;
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

.content .btn {
	background-color: #80bc00;
	color: white !important;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.content .btn:hover {
	background-color: #008fbe;
	color: #FFFFFF;
}

/* Code Styling */
.copy-code-btn {
	padding: 8.75px 13.75px !important;
	font-size: 24px !important;
	position: absolute;
	right: 25px;
}

:root {
    --code-background: #363636;
    --default-font-color: #FFFFFF;
    --keyword-color: #e07c00;
    --title-color: #008fbe;
    --function-color: #e07c00;
    --string-color: #ffcd00;
    --built_in-color: #FFFFFF;
    --number-color: #80bc00;
    --literal-color: #80bc00;
}

pre, code, code.hljs {
    background: var(--code-background);
    color: var(--default-font-color);
    border-radius: 5px;
}

code.hljs .hljs-function,
code.hljs .hljs-function .hljs-keyword {
    color: var(--function-color);
}

code.hljs .hljs-keyword {
    color: var(--keyword-color);
}

code.hljs .hljs-built_in {
    color: var(--built_in-color);
}

code.hljs .hljs-number {
    color: var(--number-color);
}

code.hljs .hljs-literal {
    color: var(--literal-color);
}

code.hljs .hljs-title {
    color: var(--title-color);
}

code.hljs .hljs-string {
    color: var(--string-color);
}

code.hljs .hljs-name,
code.hljs .hljs-tag,
code.hljs .hljs-attr {
    color: var(--html-color);
}